.user-account-page {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 80vh;
    margin-bottom: 4rem;
}

ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
    
}

li {
    margin-top: 10px;
    text-decoration: none;
}

.walker-image {
    margin: auto;
}

img {
    margin: auto;
}

h2 {
    font-size: 3rem;
}

.walk-requests, .upcoming-walks, .user-walklist {
    font-size: 2rem;
    width: 100%;
    border-radius: 5px;
    
}

.walk-link {
    text-decoration: none;
    color: inherit;
}

.user-name h3 {
    font-size: 4rem;
}