.walker-card {
  width: 90%;
  height: 150px;
  display: flex;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}



  .image-wrapper {
   
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;

  }

  .walkercard-info {
    width: 60%;
    padding: 2rem;
    padding-left: 2rem;
  }

  .walkercard-info h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0;
    text-align: left;
    color: inherit;
  }

  .walkercard-info p {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0;
    color: inherit;
  }

  .walkerlist-image {
    background-color: aquamarine;
    width: 33%;
    min-width: 120px;
    margin-left: 0px;
    padding: 1rem;
    
   
  }



  .image-wrapper img {
    height: 60%;
    border-radius: 50%;
    padding: 0;
    text-align: center;
  }

 

  

  img {
    padding-top: 2rem;
    padding-left: 1rem;
  }