.walker-card {
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
  }

  .walker-info {
    padding: 10px;
  }

  .walker-image img{
      height: 100px;

  }

  p {
    font-size: 2rem;
    padding-left: 1rem;
  }

  img {
    padding-top: 2rem;
    padding-left: 1rem;
  }