html {
    font-size: 10px;
}

.LandingPage {
    margin-top: 0px;
    margin-bottom: 5rem;
    
}
.title_section {
    height: 60vh;
    background-color: lightblue;
    margin: auto;
    text-align: center;
    display: table;
    width: 100%;
}

.title-intro-box {
    display: table-cell;
    vertical-align: middle;
}
.title_section h2 {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.landing_page_hero {
    height: 30vh;
    padding-top: 40px;

}

.two {
    background-color: lightgrey
    

}

.hero-button {
   
    width: 50%;
    }

   button:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

    .textlink {
        text-decoration: none;
    }

    .hero-photo {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 0;
    }

    .landing_page_section_two {
        text-align: center;
    }

    .reason-container {
        width: 80%;
        margin: auto;
    }

    .section-title {
        font-size: 4rem;
    }

    .book-now {
        margin-top: 4rem;
    }

    .text-container p {
        font-size: 2rem;
    }

    .reason {
        margin-bottom: 8rem;
        margin-top: 4rem;
    }


    /* Adjust for larger screens */

    @media only screen and (min-width: 768px) {
        .reason {
            display: flex;
            text-align: left;
        }

        .reason h3 {
            text-align: left;
        }

        .text-container {
            margin-left: 5rem;
        }

        
    }