.intro-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.intro-box h3 {
    text-align: left;
    font-size: 3rem;
}

.intro-box p {
    font-size: 2rem;
}

.login-redirect {
    font-size: 2rem;
    margin-top: 2rem;
}