
.feedback-card {
  width: 90%;
  min-height: 150px;
  display: flex;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card-info {
  
}

.image-wrapper {
  
}