

.feedback-card {
    display: flex;
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
  }

  .feedback-info {
    padding: 10px;
  }


  .feedback-image-box img {
    height: 100px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
}