.walker_listing_page {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    margin-bottom: 3rem;
}

.walker-listing-page-intro {
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
}

.walker-listing-page-intro p {
    font-size: 2rem;
}

.walker_listing_page h3 {
    font-size: 3rem;
    text-align: left;
}

.walk-ul {
    list-style: none;
    padding: 0px;
    
}

.walk-li {
    margin-top: 10px;
}

.redirect {
    text-decoration: none;
}