Footer {
    padding: 0px;
    width: 100%;
  }
  html {
    font-size: 10px
  }
  .footer {
      height: 20vh;
      display: block;
      padding-top: 20px;
      display: flex;
      align-items: normal;
      justify-content: space-between;
      background-color: grey;
      font-size: 2rem;
      border-bottom: 1px solid grey;
  
    }